<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div id="main-content" class="file_manager" style="margin-bottom: 90px;">
   
        <div class="container"style="margin-top: 90px" >  
            <H4 style="margin-bottom: 30px;">File lsits</H4>          
            <div class="row clearfix">
                <div class="col-lg-3 col-md-4 col-sm-12"*ngFor="let file of fileInfos | async">
                    <div class="card" >
                        <div class="file">
                            <a href="javascript:void(0);">
                                <div class="hover">
                                    <button type="button" class="btn btn-icon btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="assets/Images/Logo.PNG" >
                                   <!-- <i class="fa fa-file text-info" ></i>-->
                                </div>
                                <div class="file-name">
                                    <a href="{{ file.url }}">{{ file.name }}</a>
                                    <small>Size: 1.8 MB <span class="date text-muted">Dec 07, 2022</span></small>
                                </div>
                            </a>
                        </div>
                    </div>
                
                </div>
            </div>
            
        </div>
    </div>