



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container"   style="margin-bottom: 190px;">

        <H4 style="margin-bottom: 30px;">File lsits</H4>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-dark-outline tabs-panel">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs pull-left type-document">
                                    <li class="active"><a data-toggle="tab" href=".documents-panel" aria-expanded="true"> <i class="fa fa-file"></i> Documents</a></li>
                                    <li class=""><a data-toggle="tab" href=".images-panel" aria-expanded="false"><i class="fa fa-file-image-o"></i> Images </a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                            <div class="panel-body tab-content">
                                <div class="tab-pane active documents-panel">
                                    <a class="label label-success  label-left" href="#">Excel</a>
                                    <a class="label label-info label-left" href="#">Word</a> 
                                    <a class="label label-warning label-left" href="#">Powerpoint</a>
                                    <a class="label label-danger label-left" href="#">PDF</a>
                                    <a class="label label-dark label-left" href="#">Video</a>
                                    <div class="clear"></div>
                                    <div class="v-spacing-xs"></div>
                                    <h4 class="no-margin-top"> Folders</h4>
                                    <ul class="folders list-unstyled">
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Web projects
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Presentation files
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Books
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Contest
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Our Projects
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Our Music
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Messenger sounds
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="v-spacing-xs"></div>
                                   

                                    <div class="col-8">
                                        <label class="btn btn-default p-0">
                                          <input type="file" (change)="selectFile($event)" />
                                        </label>
                                      </div>
                                    
                                      <div class="col-4">
                                        <button class="btn btn-block btn-success"  [disabled]="!selectedFiles" (click)="upload()"> <i class="fa fa-plus"  > </i> Upload</button>
                                        
                                      </div>
                                    




                                <div *ngIf="currentFile" class="progress my-3">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                      attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                                      {{ progress }}%
                                    </div>
                                  </div>
                                  
                                  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
                                </div>
                                <div class="tab-pane images-panel">
                                 <h4 class="no-margin-top"> Folders</h4>
                                    <ul class="folders list-unstyled">
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> April meeting
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Application presentation
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Staff profile pictures
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                                <i class="fa fa-folder"></i> Trip to Yosemite
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="v-spacing-xs"></div>
                                    <a class="btn btn-block btn-success"> <i class="fa fa-plus"> </i> Upload</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 tab-content no-bg no-border" >
                        <div class="tab-pane active documents documents-panel" >
                            <div class="document success" *ngFor="let file of files ">
                                <div class="document-body">
                                    
                                    <i class="{{ file.name.split('.')[1].toLowerCase()| rename }}"></i>
                                </div>

                                <div class="document-footer">
                                    <span class="document-name"> {{ file.name}} </span>
                                    <span class="document-description"> {{ file.size}} </span>

                                  
                                <div> 
                                    <a href="javascript:void(0);">
                                        <div class="hover">
                                    
                                        <button  (click)="deleteFile(file.id)"  type="button" class="btn btn-icon btn-danger" style="margin-TOP: 3%; height: 30px; width:30px ;">
                                            <i class="fa fa-trash"></i>
                                        </button>
    
                                         <a href="{{ file.url }}" class="file-download"><i class="fa fa-download" style="margin-left: 70%; height: 30px; width:30px "> </i></a>
                                    </div>
                                    </a>

                                   
                                </div>
                                </div>
                                
                            </div>

                            
                            
                        </div> 
                    </div>
                </div>
            </div>