.document{

    height: 100%;
    width: 100%;
    border: 2px;
    
    padding: 0.5em;
  
display: flex;
}

.document .details{

    width: 40%;
    background-color: transparent;
    border: 0px;
    margin-right: 0.15rem;
    
}


.document .frame-body{
    height: 90%;
    width: 100%;

}


.document .icon{
    

color: steelblue;

}


.wraped{

    display: inline;
    margin: 10px;
   
}

.display{
    display: flex;


}


.bottun {
    flex: 1 1 auto;
    
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 100% auto;
    color: white;
   text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border-color: transparent;

    background-image: linear-gradient(to right, #004a9f, #22577E);}


    .bottun:hover {
        background-position: right center;
    }


    .viewer{

        height: 100%;
        width: 100%;
        border: 2px;
        border-color: gray;
        box-shadow: 0px 0px 6px 6px rgba(64, 59, 59, 0.318);
        padding: 0.5em;
        border-radius: 13px;
    }
    