/* You can add global styles to this file, and also import other style files */


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: royalblue;
    text-align: center;
    color: white;
}