<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <div class="container-fluid  ">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <!--<img [src]="logo" style="width: 60px; margin-left: 130px;">-->
        <li class="nav-item">
          <!-- <img src="/frontend/src/assets/Images/Logo.png"> -->
          
          <a  routerLink="home" style="margin-left: 20px;" class="nav-link active" aria-current="page" routerLinkActive="active" >Home</a>
        </li>
       
        <li  style="margin-left: 60px;"class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
            File
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="files"   class="dropdown-item"  routerLinkActive="active">File List</a></li>
            <li><a routerLink="upload-file"  class="dropdown-item" routerLinkActive="active">Add File</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>





        







        


        
      

      </ul>


      
      
    </div>
  </div>
</nav>





<router-outlet></router-outlet>


<div class="container" style="width:600px">
    <div class="my-3">
      
     
    </div>
  
   
  </div>

 





<div class="container">
   
    
