.folders {
    width: 100%;
  }

  .file-wrap{

    display: flex;




  }
  .folders li {
    font-size: 14px;
    padding: 3px 4px 3px 12px;
  }
  
  .folders li a {
    text-decoration: none;
    color: #4a4d56;
  }
  
  .folders li a i {
    color: #5e6168;
    font-size: 16px;
    margin-right: 5px;
  }



  
.tabs-panel .panel-heading {
    padding: 3px 10px 2px 10px;
  }
  
  .tabs-panel .panel-heading>.nav.nav-tabs {
    padding: 0;
  }
  
  .tabs-panel .panel-heading:after {
    padding-bottom: 3px;
  }
  
  .tabs-panel .panel-heading .panel-options {
    margin-top: 10px;
  }
  
  .tabs-panel .panel-body {
    padding: 20px 15px 15px 15px;
    font-size: 14px;
  }
  
  .tabs-panel .nav-tabs {
    border: none;
  }
  
  .tabs-panel .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
  }
  
  .tabs-panel .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    font-weight: 600;
    font-size: 15px;
    color: #555;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  
  .tabs-panel .nav-tabs>li>a>i {
    font-size: 13px;
    margin-right: 2px;
  }
  
  .tabs-panel .nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #000;
  }
  
  .tabs-panel .nav-tabs>li.active>a,
  .tabs-panel .nav-tabs>li.active>a:hover,
  .tabs-panel .nav-tabs>li.active>a:focus {
    color: #4a4d56;
    cursor: default;
    background-color: inherit;
    border: none;
    border-bottom-color: transparent;
  }
  
  .tabs-panel .nav-tabs>li.active>a:after,
  .tabs-panel .nav-tabs>li.active>a:hover:after,
  .tabs-panel .nav-tabs>li.active>a:focus:after {
    display: block;
    position: absolute;
    width: calc(100% - 4px);
    left: 2px;
    content: "";
    padding-bottom: 12px;
    border-bottom: 4px solid #314557;
  }
  
  .tabs-panel .tab-content {
    background-color: #fff;
    border: none;
  }
  
  .tabs-panel.panel-success .panel-heading:after,
  .tabs-panel.panel-info .panel-heading:after,
  .tabs-panel.panel-danger .panel-heading:after,
  .tabs-panel.panel-warning .panel-heading:after,
  .tabs-panel.panel-dark .panel-heading:after {
    display: none;
  }
  
  .tabs-panel.panel-success-outline .nav-tabs>li.active>a:after,
  .tabs-panel.panel-success-outline .nav-tabs>li.active>a:hover:after,
  .tabs-panel.panel-success-outline .nav-tabs>li.active>a:focus:after {
    border-bottom: 4px solid #0ec8a2;
  }
  
  .tabs-panel.panel-info-outline .nav-tabs>li.active>a:after,
  .tabs-panel.panel-info-outline .nav-tabs>li.active>a:hover:after,
  .tabs-panel.panel-info-outline .nav-tabs>li.active>a:focus:after {
    border-bottom: 4px solid #2da9e9;
  }
  
  .tabs-panel.panel-warning-outline .nav-tabs>li.active>a:after,
  .tabs-panel.panel-warning-outline .nav-tabs>li.active>a:hover:after,
  .tabs-panel.panel-warning-outline .nav-tabs>li.active>a:focus:after {
    border-bottom: 4px solid #ff9e2a;
  }
  
  .tabs-panel.panel-danger-outline .nav-tabs>li.active>a:after,
  .tabs-panel.panel-danger-outline .nav-tabs>li.active>a:hover:after,
  .tabs-panel.panel-danger-outline .nav-tabs>li.active>a:focus:after {
    border-bottom: 4px solid #f95858;
  }
  
  .tabs-panel.panel-success .panel-heading .nav.nav-tabs>li>a,
  .tabs-panel.panel-info .panel-heading .nav.nav-tabs>li>a,
  .tabs-panel.panel-danger .panel-heading .nav.nav-tabs>li>a,
  .tabs-panel.panel-warning .panel-heading .nav.nav-tabs>li>a,
  .tabs-panel.panel-dark .panel-heading .nav.nav-tabs>li>a {
    color: #fff;
  }
  
  .tabs-panel.panel-success .panel-heading li.active>a:after,
  .tabs-panel.panel-success .panel-heading li.active>a:hover:after,
  .tabs-panel.panel-success .panel-heading li.active>a:focus:after {
    display: block;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-color: #0ec8a2;
    transform: rotate(45deg);
    border: none;
    margin-top: 4px;
    left: 40%;
  }
  
  .tabs-panel.panel-info .panel-heading li.active>a:after,
  .tabs-panel.panel-info .panel-heading li.active>a:hover:after,
  .tabs-panel.panel-info .panel-heading li.active>a:focus:after {
    display: block;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-color: #2da9e9;
    transform: rotate(45deg);
    border: none;
    margin-top: 4px;
    left: 40%;
  }
  
  .tabs-panel.panel-warning .panel-heading li.active>a:after,
  .tabs-panel.panel-warning .panel-heading li.active>a:hover:after,
  .tabs-panel.panel-warning .panel-heading li.active>a:focus:after {
    display: block;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-color: #ff9e2a;
    transform: rotate(45deg);
    border: none;
    margin-top: 4px;
    left: 40%;
  }
  
  .tabs-panel.panel-danger .panel-heading li.active>a:after,
  .tabs-panel.panel-danger .panel-heading li.active>a:hover:after,
  .tabs-panel.panel-danger .panel-heading li.active>a:focus:after {
    display: block;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-color: #f95858;
    transform: rotate(45deg);
    border: none;
    margin-top: 4px;
    left: 40%;
  }
  
  .tabs-panel.panel-dark .panel-heading li.active>a:after,
  .tabs-panel.panel-dark .panel-heading li.active>a:hover:after,
  .tabs-panel.panel-dark .panel-heading li.active>a:focus:after {
    display: block;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-color: #314557;
    transform: rotate(45deg);
    border: none;
    margin-top: 4px;
    left: 40%;
  }
  
  .nav-tabs {
    border-bottom: 1px solid #98a3af;
  }






















  
.form-control {
  display: block;
  width: 25%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
 
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 padding-right: 5rem;

 margin-left: 64%;
 margin-bottom: 20px;
}




.container2{
  height: 400px;
  width: 100%;
  margin-bottom: 110px;
}





.document {
  float: left;
  width: calc(33% - 20px);
  max-width: 240px;
  margin: 0px 10px 20px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #dce2e9;
  margin-bottom: 20px;
}

.document .document-body {
  height: 130px;
  text-align: center;
  border-radius: 3px 3px 0 0;
  background-color: #fdfdfe;
}

.document .document-body i {
  font-size: 45px;
  line-height: 120px;
}

.document .document-body img {
  width: 100%;
  height: 100%;
}

.document .document-footer {
  border-top: 1px solid #ebf1f5;
  height: 80px;
  ;
  padding: 5px 12px;
  border-radius: 0 0 2px 2px;
}

.document .document-footer .document-name {
  display: block;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  color: white;
  line-height: normal;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.document .document-footer .document-size {
  display: block;
  margin-top: -1px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
  line-height: normal;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.document.info .document-footer>*,
.document.success .document-footer>*,
.document.danger .document-footer>*,
.document.warning .document-footer>*,
.document.dark .document-footer>* {
  color: #fff;
}

.document.info .document-footer {
  background-color: #2da9e9;
}

.document.success .document-footer {
  background-color: #0ec8a2;
}

.document.warning .document-footer {
  background-color: #ff9e2a;
}

.document.danger .document-footer {
  background-color: #f95858;
}

.document.dark .document-footer {
  background-color: #314557;
}

.document.gold .document-footer {
  background-color: #98a3af;
}

.wrap-section{

  display: flex;
}




  
  