<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div class="col-sm-12">
  <form (ngSubmit)="onSubmit()">
    <label> Folder Name </label>
    <div class="file-wrap">
      <input
        type="text"
        id="folderName"
        [(ngModel)]="folder.folderName"
        name="folderName"
        placeholder="folder name"
      />
      <button class="btn btn-success" style="margin-left: 1.5em" type="submit">
        <mat-icon>create_new_folder</mat-icon>
      </button>
    </div>
  </form>
</div>

<!-- <div class="col-sm-12">
  <form (ngSubmit)="onSubmit()">


    <p> Add File To folder </p>
    <label >Folder Id</label>
    <div class="file-wrap">
      <input   type="number" id="folderId"   [(ngModel)]="folderFile.folderId"  name="FolderId"  placeholder="folder Id" />

      <label>File Id </label>
        <input type="text" id="fileId" [(ngModel)]="folderFile.fileId" name="fileId"  placeholder="File Id" />
      <button class="btn btn-success" style="margin-left: 1.5em" type="submit">
        <mat-icon>create_new_folder</mat-icon>
      </button>
    </div>


  </form> 
    
  
</div> -->

<div class="wrap-section">
  <div class="col-sm-4">
    <div class="panel panel-dark-outline tabs-panel">
      <div class="panel-body tab-content">
        <div class="tab-pane active documents-panel">
          <ul class="folders list-unstyled" *ngFor="let folder of folders">
            <li>
              <a role="button" (click)="folderDetails(folder.folderId)">
                <i class="fa fa-folder"></i> {{ folder.folderName }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
